<div class="menu" [ngClass]="{ opened: isMenuOpen }" #header>
  <p class="menu-close" (click)="closeMenu()">
    <mat-icon>close</mat-icon>Cerrar
  </p>
  <ul class="menu-items">
    <li (click)="closeMenu()" routerLink="/">
      <mat-icon>home</mat-icon><span>Home</span>
    </li>
    <li (click)="closeMenu()" routerLink="/gold">
      <mat-icon>card_giftcard</mat-icon
      ><span><i>Consultar el precio del </i>Oro</span>
    </li>
    <li (click)="closeMenu()" routerLink="/silver">
      <mat-icon>card_travel</mat-icon
      ><span><i>Consultar el precio de la </i>Plata</span>
    </li>
    <li (click)="closeMenu()" routerLink="/copper">
      <mat-icon>card_membership</mat-icon
      ><span><i>Consultar el precio del </i>Cobre</span>
    </li>
    <li (click)="closeMenu()" routerLink="/euro">
      <mat-icon>euro</mat-icon><span><i>Consultar el precio del </i>Euro</span>
    </li>
    <li (click)="closeMenu()" routerLink="/dolar">
      <mat-icon>credit_card</mat-icon
      ><span><i>Consultar el precio del </i>Dolar</span>
    </li>
    <li (click)="closeMenu()" routerLink="/yen">
      <mat-icon>polymer</mat-icon
      ><span><i>Consultar el precio del </i>Yen</span>
    </li>
  </ul>
</div>
<p class="menu-link" (click)="openMenu()">
  <mat-icon>menu</mat-icon>
  Menú
</p>
<router-outlet></router-outlet>
