<div class="home">
  <div class="home-content">
    <div class="home-content--elements">
      <h1 class="initials">INDECON</h1>
      <h2>La mejor opción para consultar inversiones</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        euismod, lacus vitae consectetur consectetur, ipsum arcu ultrices velit,
        eget finibus dolor nunc sit amet enim. Aenean suscipit sem in nisl
        sodales, interdum luctus sapien volutpat.
      </p>
    </div>
  </div>
  <div class="home-image">
    <img
      src="https://images.ctfassets.net/8cd2csgvqd3m/3M0kSuKMryLwjDPm9q5kyb/944ed7141fa671e2933476eab50d04a6/H8i_feature-2.jpg?q=90&fm=webp&w=720"
      alt=""
    />
  </div>
</div>
