.home {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-content {
    flex: 1 1 60%;
    display: flex;
    align-items: center;

    &--elements {
      width: 75%;
      margin: 0 auto;

      h1 {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 50px;
      }

      h2 {
        font-weight: 800;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 1.2em;
        margin-bottom: 40px;
      }

      p {
        width: 65%;
        font-size: 11px;
      }
    }
  }

  &-image {
    flex: 1 1 40%;
    background: #3f51b5;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
